# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local binaries (ffmpeg, ffprobe, yt-dlp)
bin/

# Temporary and Output media files
temp/
output/

# Configurations & secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Operating System files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
